#navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

body {
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

h1,
h2 {
    color: #111111;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 16px;
    line-height: 24px;
}
ul {
    font-size: 16px;
    line-height: 16px;
}

.done {
    color: #D420AB;
}

a {
    color: #10eaf0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:hover,
a:focus {
    outline: none;
    color: #0099ff; /*#e25525*/
}

ul {
    padding-left: 24px;
    font-size: 0.85em
}

img {
    height: auto;
    width: 100%;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 2px;
    background: #bbb;
    max-width: 580px;
}

@media screen and (min-width: 580px) {
    section {
        max-width: 580px;
    }
}

/* Gist formatting */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
    max-width: 580px;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}